.principal{
    padding: 0.5rem;
}
/* DatosElementos */
.elementos{
    margin: 0.3rem 0.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -moz-radial-gradient(center, #75A438 0%, #847921 50%, #75A438 100%);
    background: -webkit-radial-gradient(center, #75A438 0%, #847921 50%, #75A438 100%);
    background: radial-gradient(ellipse at center, #75A438 0%, #847921 50%, #75A438 100%);
}
.elementos p{
    padding-bottom: 0.2rem;
}
.elementos .input{
    border: solid 0.1rem #f0f0f0;
    padding: 0.3rem;
    border-radius: 10rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.elementos .progreso{
    background-color: #572d1e;
}
.elementos .avatar{
    border-radius: 1rem;
}
/* Boton */
.boton{
    margin: 0.3rem 0.3rem;
    background-color: greenyellow;
    font-style: italic;
    font-family: Cambria;
}
.boton p{
    padding-bottom: 0.2rem;
}
.btnDeshabilitado:enabled{
    border-radius: 10rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: Cambria;
    border: solid 0.1rem #f0f0f0;
    font-style: italic;
}
.toggleButton{
    border-radius: 10rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: Cambria;
    border: solid 0.1rem #f0f0f0;
    font-style: italic;
    margin-bottom: 0.2rem;
}
.toggleButton:hover{
    border: solid 0.1rem #b62d2d;
    background-color: #b62d2d;
}
.toggleButton:active{
    border: solid 0.1rem yellow;
    background-color: yellow;
}
/* Arreglo */
.arreglo{
    font-family: fantasy;
    margin: 0.2rem 0.2rem;
}
.arreglo ul{
    list-style: none;
}
.arreglo li{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.inDato{
    font-family: fantasy;
    font-size: 1rem;
    padding: 0.5rem;
}
.inDato:focus{
    background: royalblue;
}
.btnDelete, .btnAdd{
    border-radius: 10rem;
    border: solid 0.1rem #f0f0f0;
    padding: 0.5rem;
    margin: auto;
    text-align:center;
}
.btnDelete:hover, .btnAdd:hover{
    border: solid 0.1rem #aab62d69;
    background-color: #aab62d69;
}
.btnDelete:active, .btnAdd:active{
    border: solid 0.1rem royalblue;
    background-color: royalblue;
}
/* Desplazamiento */
.Desplazamiento{
    margin: 0.3rem 0.3rem;
    font-size: 1.5rem;
    color: brown;
    -webkit-box-shadow: 5px 5px 15px 5px #BA4EEE; 
    box-shadow: 5px 5px 15px 5px #BA4EEE;
    background-color: springgreen;
}
.box{
    background-color: khaki;
    height: 10rem;
    width: auto;
    overflow: auto;
    border: solid 1px black;
}
/* Edad */
.edad{
    margin: 0.3rem 0.3rem;
    padding: 0.3rem 0.3rem;
    font-weight: bold;
    color:red;
    border: 0.5rem dotted #3A32A4;
}
.edad .letreto{
    text-decoration: line-through solid white;
}
.edad .dato{
    text-transform: capitalize;
}
.edad .sumaEdad{
    font-size: xx-large;
    border-radius: 5rem;
    padding: 1rem;
    border: solid 0.1rem #f0f0f0;
    font-weight: bold;
    color:red;
}
.edad .restaEdad{
    font-size: xx-large;
    border-radius: 5rem;
    padding: 1rem;
    border: solid 0.1rem #f0f0f0;
    font-weight: bold;
    color:red;
}
.sumaEdad:hover, .restaEdad:hover{
    background-color: red;
    color: white;
    border: solid 0.1rem red;
}
.sumaEdad:active, .restaEdad:active{
    background-color: black;
    color:red;
}
/* Inputs */
.Inputs{
    margin: 0.3rem 0.3rem;
    background-color: deepskyblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.Inputs .seleccion, .Inputs .vacio, .Inputs .rango, .Inputs .NicolasJulian{
    margin: 0.3rem 0.3rem;
}
.Inputs input{
    border: solid 0.1rem #f0f0f0;
    padding: 0.3rem;
    border-radius: 10rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.Inputs .focus:focus{
    background: yellow;
    color: green;
}
.Inputs .textoFocus{
    text-decoration: underline solid;
    text-transform: uppercase;
    background-color: yellow;
    color: green;
}
.seleccion p, .vacio p, .rango p, .NicolasJulian p{
    margin: 0.3rem 0.3rem;
    font-style: italic;
}
.vacio span, .rango span{
    border: 0.2rem double #c78624;
    background-color: #c78624;
    color: white;
}
.oculto{
    display: none;
}
.visible{
    display: block;
    font-variant: small-caps;
    color: #FFF;
    background-color: #333;
    text-shadow: #FFF 0 -0.1rem 0.4rem, #ff0 0 -0.2rem 0.10rem, #ff8000 0 -0.10rem 0.20rem, red 0 -0.18rem 0.40rem;
}
/* Mouse */
.Mouse{
    margin: 0.3rem 0.3rem;
    background: #52A43D;
    background: -moz-linear-gradient(-45deg, #52A43D 0%, #C2CB74 50%, #755564 100%);
    background: -webkit-linear-gradient(-45deg, #52A43D 0%, #C2CB74 50%, #755564 100%);
    background: linear-gradient(135deg, #52A43D 0%, #C2CB74 50%, #755564 100%);
}
.Mouse div{
    margin: 0.3rem 0.3rem;
}
.Mouse .accionMouse, .Mouse .accionClic{
    color: white;
    background-color: deeppink;
}
/* Suma */
.Suma{
    margin: 0.3rem 0.3rem;
    outline: 0.5rem outset #1C6EA4;
    outline-offset: 0.3rem;
}
/* Titulo */
.Titulo{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightsalmon;
}
/* Tecleo */
.Tecleo{
    margin: 0.3rem 0.3rem;
    background-color: #999999;
    color: yellow;
}
.Tecleo p{
    margin: 0.3rem 0.3rem;
}
.Tecleo input{
    border: solid 0.1rem #f0f0f0;
    padding: 0.3rem;
    border-radius: 10rem;
}
.Tecleo .escritura{
    padding: 0.3rem 0.3rem;
    background-color: teal;
    text-decoration: underline solid yellow;
    font-style: italic;
    font-variant: normal;
    text-transform: lowercase;
}